
@{
    ViewData["Title"] = "BookService";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/bookServiceStyle.css" />
    <link rel="stylesheet" href="/css/commonStyle.css" />
    <title>Book service</title>
</head>

<body>
    @await Html.PartialAsync("Navbar2")
    <section id="header" class="p-boader">
        <img class="header-img" src="/image/book-service-banner.jpg" />
    </section>

    <section id="setup-service">
        <h2>Set up your cleaning service</h2>
        <div class="diveder">
            <span class="line"></span><img src="/image/separator.png" alt="diveder" /><span class="line"></span>
        </div>

        <div class="setup">
            <div class="setup-left">
                <div class="setup-options">
                    <ul>
                        <li id="1" class="add add-color" onclick="form1()">
                            <img id="img1"
                                 src="/image/setup-service-white.png"
                                 alt="setupService" />
                            <span> Setup Service </span>
                        </li>
                        <li id="2" onclick="form2()">
                            <img id="img2" src="/image/schedule.png" alt="schedule" />
                            <span>Schedule & Plan</span>
                        </li>
                        <li id="3" onclick="form3()">
                            <img id="img3" src="/image/details.png" alt="details" />
                            <span>Your Details</span>
                        </li>
                        <li id="4" onclick="form4()">
                            <img id="img4" src="/image/payment.png" alt="make payment" />
                            <span>Make Payment</span>
                        </li>
                    </ul>
                </div>

                @*pin code view *@
                @await Html.PartialAsync("setupService")


                @*schedule service*@

                @await Html.PartialAsync("scheduleService")

                @*Address details*@

                @await Html.PartialAsync("AddressDetails")

                @*payment*@

                @await Html.PartialAsync("payment")

            </div>
            <div class="setup-right">
                <div class="price-card">
                    <h3>Payment Summary</h3>
                    <div class="details">
                        <p>01/01/2018  4:00 pm </p>
                    </div>
                    <h4>Duration</h4>
                    <div class="duration">
                        <p>Basic <span class="d-none extra1">Inside Cabinet (extra)</span><span class="d-none extra2">Inside Fridge (extra)</span><span class="d-none extra3">Inside Oven (extra)</span><span class="d-none extra4">Laundry Wash & Dry (extra)</span><span class="d-none extra5">Interior Windows (extra)</span></p>
                        <p style="text-align: right"><span id="duration-print">3 Hrs</span><span class="d-none extra1">30 Mins</span><span class="d-none extra2">30 Mins</span><span class="d-none extra3">30 Mins</span><span class="d-none extra4">30 Mins</span><span class="d-none extra5">30 Mins</span></p>
                    </div>
                    <div class="cover">
                        <div class="totalhour">
                            <span><strong>Total Service Time</strong></span>
                            <span id="TotalHour"><strong>3.5 Hrs</strong></span>
                        </div>
                    </div>
                    <div class="cover">
                        <div class="pay-list">
                            <p>Per cleaning </p>
                            <p style="text-align: right">
                                <strong class="PerCleanPay" >$87</strong>
                            </p>
                        </div>
                    </div>
                    <div class="pay-list totalPay">
                        <p>
                            <span style="color: #1d7a8c; font-size: 20px; padding-bottom: 11px">Total Payment</span>
                            
                        </p>
                        <p style="text-align: right">
                            <strong class="PerCleanPay" style="color: #1d7a8c; font-size: 42px">$63</strong>
                        </p>
                    </div>
                    

                    <div class="seeWhatInclude">
                        <p>
                            <img style="margin-bottom: 5px; margin-right: 5px"
                                 src="/image/smiley.png"
                                 alt="smile" />
                            See what is always included
                        </p>
                    </div>
                </div>
                <h3 class="question">Questions?</h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item question-list">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne">
                                <img class="right-icon"
                                     src="/image/keyboard-right-arrow-button-copy.png"
                                     alt="right" />
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseOne"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It
                                is shown by default, until the collapse plugin adds the
                                appropriate classes that we use to style each element. These
                                classes control the overall appearance, as well as the showing
                                and hiding via CSS transitions. You can modify any of this
                                with custom CSS or overriding our default variables. It's also
                                worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item question-list">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo">
                                <img class="right-icon"
                                     src="/image/keyboard-right-arrow-button-copy.png"
                                     alt="right" />
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseTwo"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It
                                is hidden by default, until the collapse plugin adds the
                                appropriate classes that we use to style each element. These
                                classes control the overall appearance, as well as the showing
                                and hiding via CSS transitions. You can modify any of this
                                with custom CSS or overriding our default variables. It's also
                                worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item question-list">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree">
                                <img class="right-icon"
                                     src="/image/keyboard-right-arrow-button-copy.png"
                                     alt="right" />
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseThree"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It
                                is hidden by default, until the collapse plugin adds the
                                appropriate classes that we use to style each element. These
                                classes control the overall appearance, as well as the showing
                                and hiding via CSS transitions. You can modify any of this
                                with custom CSS or overriding our default variables. It's also
                                worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item question-list">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour"
                                    aria-expanded="false"
                                    aria-controls="collapseFour">
                                <img class="right-icon"
                                     src="/image/keyboard-right-arrow-button-copy.png"
                                     alt="right" />
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseFour"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It
                                is hidden by default, until the collapse plugin adds the
                                appropriate classes that we use to style each element. These
                                classes control the overall appearance, as well as the showing
                                and hiding via CSS transitions. You can modify any of this
                                with custom CSS or overriding our default variables. It's also
                                worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item question-list">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive"
                                    aria-expanded="false"
                                    aria-controls="collapseFive">
                                <img class="right-icon"
                                     src="/image/keyboard-right-arrow-button-copy.png"
                                     alt="right" />
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseFive"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingFive"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It
                                is hidden by default, until the collapse plugin adds the
                                appropriate classes that we use to style each element. These
                                classes control the overall appearance, as well as the showing
                                and hiding via CSS transitions. You can modify any of this
                                with custom CSS or overriding our default variables. It's also
                                worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item question-list">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix"
                                    aria-expanded="false"
                                    aria-controls="collapseSix">
                                <img class="right-icon"
                                     src="/image/keyboard-right-arrow-button-copy.png"
                                     alt="right" />
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseSix"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingSix"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It
                                is hidden by default, until the collapse plugin adds the
                                appropriate classes that we use to style each element. These
                                classes control the overall appearance, as well as the showing
                                and hiding via CSS transitions. You can modify any of this
                                with custom CSS or overriding our default variables. It's also
                                worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item question-list">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven"
                                    aria-expanded="false"
                                    aria-controls="collapseSeven">
                                <p>
                                    <img class="right-icon"
                                         src="/image/keyboard-right-arrow-button-copy.png"
                                         alt="right" />
                                    Which Helperland professional will come to my place?
                                </p>
                            </button>
                        </h2>
                        <div id="collapseSeven"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingSeven"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It
                                is hidden by default, until the collapse plugin adds the
                                appropriate classes that we use to style each element. These
                                classes control the overall appearance, as well as the showing
                                and hiding via CSS transitions. You can modify any of this
                                with custom CSS or overriding our default variables. It's also
                                worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit
                                overflow.
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: left; margin: 10px 0">
                    <a class="more-help" href="">For more help</a>
                </div>
            </div>
        </div>
    </section>

    <section id="newuser">
        <h3>GET OUR NEWSETTER</h3>
        <form action="#" method="post">
            <input class="newsetter"
                   type="email"
                   name="email"
                   placeholder="YOUR EMAIL" />
            <input type="submit" class="btn-submit" name="submit" value="sumit" />
        </form>
    </section>

    <div id="responsivePaySum">
        <button type="button"
                data-bs-toggle="modal"
                data-bs-target="#paymentSummaryModal">
            Payment Summary
        </button>
    </div>

    <!-- PS modal starts -->

    <div class="modal fade" id="paymentSummaryModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Payment Summary</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modal-booknow-side">
                        <div id="modal-paymentSummary">
                            <div id="modal-payment-questiondiv">

                                <div id="modal-service-time" class="flex-column">
                                    <div id="modal-timeandbed">
                                        <p>01/01/2022@4:00pm</p>
                                        <p>1 bed, 1 bath.</p>
                                    </div>

                                    <b>Duration</b>
                                    <div>
                                        <span>Basic</span>
                                        <span>3 hrs</span>
                                    </div>
                                    <div>
                                        <span>Inside cabinets (extra)</span>
                                        <span>30 mins</span>
                                    </div>

                                    <div id="modal-total-time">
                                        <span><b>Total Service Time</b></span>
                                        <span><b>3.5 hrs</b></span>
                                    </div>
                                </div>
                                <!-- service time ends -->
                                <!-- cost strats -->
                                <div id="modal-service-cost" class="flex-column">
                                    <div>
                                        <span>Per cleaning</span>
                                        <span><b>&dollar;87</b></span>
                                    </div>

                                    <div>
                                        <span>Discount</span>
                                        <span><b>- &dollar;27</b></span>
                                    </div>
                                </div>
                                <!-- cost ends -->
                                <!-- payment starts-->
                                <div id="modal-service-pay" class="flex-column">
                                    <div>
                                        <span id="total-pay">Total Payment</span>
                                        <span id="amount">&dollar;63</span>
                                    </div>
                                    
                                </div>
                                <!-- payment ends -->

                                <p id="modal-saveP">
                                    <span>*</span>You will save 20% according to §35a EStG.
                                </p>

                                <!-- modal starts -->
                                <div id="modal-call-modal">
                                    <a href="">
                                        <i class="far fa-smile"></i> See what is always
                                        included
                                    </a>
                                </div>
                                <!-- modal ends -->
                            </div>

                            <div id="modal-book-questions">
                                <div id="modal-question-title">
                                    <h3>Questions?</h3>
                                </div>
                                <!-- question main starts -->
                                <div id="modal-question-main">
                                    <div class="faq-qa" style="display: flex">
                                        <a id="faq-q1"
                                           href="#faq-ans1"
                                           data-bs-toggle="collapse"
                                           style="font-size: 16px; color: #565656">
                                            <div style="display: flex">
                                                <div>
                                                    <img id="faq-ar-1"
                                                         class="faq_arrow_img"
                                                         src="/image/left-arrow.png"
                                                         alt="" />
                                                </div>

                                                <p>
                                                    Which Helperland professional will come to my place?
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="faq-ans1" class="collapse faq-ans">
                                        Helperland has a vast network of experienced, top-rated
                                        cleaners. Based on the time and date of your request, we
                                        work to assign the best professional available.Like
                                        working with a specific pro? Add them to your Pro Team
                                        from the mobile app and they'll be requested first for all
                                        future bookings.You will receive an email with details
                                        about your professional prior to your appointment.
                                    </div>

                                    <div class="faq-qa" style="display: flex">
                                        <a id="faq-q2"
                                           href="#faq-ans2"
                                           data-bs-toggle="collapse"
                                           style="font-size: 16px; color: #565656">
                                            <div style="display: flex">
                                                <div>
                                                    <img id="faq-ar-2"
                                                         class="faq_arrow_img"
                                                         src="/image/left-arrow.png"
                                                         alt="" />
                                                </div>
                                                <p>What's included in a cleaning?</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="faq-ans2" class="collapse faq-ans">
                                        Bedroom, Living Room & Common
                                        Areas,Bathrooms,Kitchen,Extras
                                    </div>

                                    <div class="faq-qa" style="display: flex">
                                        <a id="faq-q3"
                                           href="#faq-ans3"
                                           data-bs-toggle="collapse"
                                           style="font-size: 16px; color: #565656">
                                            <div style="display: flex">
                                                <div>
                                                    <img id="faq-ar-3"
                                                         class="faq_arrow_img"
                                                         src="/image/left-arrow.png"
                                                         alt="" />
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit?
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="faq-ans3" class="collapse faq-ans">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Sed id diam tincidunt, fringilla ante vitae, dapibus
                                        velit. Vivamus id tortor rhoncus, efficitur quam at,
                                        suscipit tortor.
                                    </div>

                                    <div id="for-more-help">
                                        <a href="">For more help</a>
                                    </div>
                                </div>
                                <!-- question main ends -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- PS modal ends -->
    @await Html.PartialAsync("footer")
   

    <!-- bootstrap js cdn  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/bookServiceScript.js"></script>

    <script>

        function checkZipcode() {
            $("#postalcode").val($("#zip").val());
            var zip = $("#zipform");
            var jsonInput = zip.serialize();

            $.ajax(
                {
                    type: 'POST',
                    url: '/Customer/IsValidZipcode',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: jsonInput,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                form2();
                            } else {

                                alert("fails");
                            }


                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });

        }


        function getServiceDetails() {

            var servicedetails = $("#scheduleService");
            var jsonInput = servicedetails.serialize();

            $.ajax(
                {
                    type: 'POST',
                    url: '/Customer/getScheduleServiceDetails',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: jsonInput,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                form3();
                            } else {

                                alert("fails");
                            }


                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });



        }


        function getAddress() {



            $.ajax(
                {
                    type: 'GET',
                    url: '/Customer/getAddressDetails',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success:
                        function (response) {
                            console.log(response);
                            var AddressList = $("#AddressList");
                            AddressList.empty();
                            for (var i = 0; i < response.length; i++) {

                                if (response[i].isDefault == true) {
                                    AddressList.append('<div class="address-check-box"><div><input type="radio" name="address1" id="addressId' + response[i].id + '"' + 'value ="' + response[i].id + '"' + 'checked /></div><div><p><strong>Address: </strong>' + response[i].addressLine2 + ', ' + response[i].addressLine1 + ', ' + response[i].city + ', ' + response[i].postalCode + '</p > <p><strong>Phone number: </strong>' + response[i].mobile + '</p> </div > </div > ')
                                } else {
                                    AddressList.append('<div class="address-check-box"><div><input type="radio" name="address1" id="addressId' + response[i].id + '"' + 'value ="' + response[i].id + '"' + '/></div><div><p><strong>Address: </strong>' + response[i].addressLine2 + ', ' + response[i].addressLine1 + ', ' + response[i].city + ', ' + response[i].postalCode + '</p > <p><strong>Phone number: </strong>' + response[i].mobile + '</p> </div > </div > ')
                                }

                            }

                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });



        }

        function clearAddress() {

            $("#streetname").val("");
            $("#housename").val("");
            $("#city").val("");
            $("#phonenumber").val("");
            document.getElementsByClassName("add-address-box")[0].style.display =
                "none";
            add_address_btn.style.display = "block";
        }


        function AddAddress() {
            var addData = {};
            addData.AddressLine2 = $("#streetname").val();
            addData.AddressLine1 = $("#housename").val();
            addData.postalcode = $("#postalcode").val();
            addData.city = $("#city").val();
            addData.mobile = $("#phonenumber").val();


            console.log(addData);


            $.ajax(
                {
                    type: 'POST',
                    url: '/Customer/addAddress',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: addData,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                getAddress();
                                clearAddress()
                            } else {

                                alert("fails");
                            }


                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });

        }
        var d = "";
        var date = $("#Date").change(() => {
            var addDate = $("#Date").val().split("-");
            d = addDate[2] + "/" + addDate[1] + "/" + addDate[0];

        });

        $("#time").change(() => {

            var t = new Date($("#Date").val() + " " + $("#time").val());
            var t1 = t.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });

            $(".details p").empty();
            $(".details p").html(d + " " + t1);


        });
       
        
        
       
        
       
        function CreatePaySummery() {
            var dur = 0;
            var totalhour = 0;
            var cabinetValue = 0, ovenValue = 0, fridgeValue = 0, laundryValue = 0, windowValue = 0;
            if ($("#insideCabinetCheck").is(':checked')) {
                $(".extra1").removeClass("d-none");
                cabinetValue = 0.5;

            } else {
                $(".extra1").addClass("d-none");
                cabinetValue = 0;

            }


            if ($("#insideFridgeCheck").is(':checked')) {
                $(".extra2").removeClass("d-none");
                fridgeValue = 0.5;
            } else {
                $(".extra2").addClass("d-none");
                fridgeValue = 0;
            }


            if ($("#insideOvenCheck").is(':checked')) {
                $(".extra3").removeClass("d-none");
                ovenValue = 0.5;
            } else {
                $(".extra3").addClass("d-none");
                ovenValue = 0;
            }


            if ($("#laundryCheck").is(':checked')) {
                $(".extra4").removeClass("d-none");
                laundryValue = 0.5;
            } else {
                $(".extra4").addClass("d-none");
                laundryValue = 0;
            }


            if ($("#interiorCheck").is(':checked')) {
                $(".extra5").removeClass("d-none");
                windowValue = 0.5;
            } else {
                $(".extra5").addClass("d-none");
                windowValue = 0;
            }
            dur = parseFloat($("#Duration").val());
            $("#duration-print").text(dur + " Hrs");
            totalhour = cabinetValue + fridgeValue + ovenValue + laundryValue + windowValue+dur;
            $("#TotalHour").html('<strong>' + totalhour + ' Hrs</strong>');
            $(".PerCleanPay").text("$" + totalhour * 20);


            
        }
        
       
  
     
      
      
      
       
      

        function payDone() {
            var serviceRequestData = {};

            serviceRequestData.startDate = $("#Date").val();
            serviceRequestData.startTime = $("#time").val();
            serviceRequestData.duration = $("#Duration").val();
            serviceRequestData.comment = $("#comment").val();
            serviceRequestData.havePet = $("#havePet").val();
            serviceRequestData.AddressId = $("#AddressList div input[type=radio]:checked").val();
            serviceRequestData.postalcode = $("#zip").val();

            serviceRequestData.extraHours = 0;

            var insideCabinetCheck = $("#insideCabinetCheck");
            if (insideCabinetCheck.is(':checked')) {
                serviceRequestData.extraHours += 0.5;
                serviceRequestData.cabinet = insideCabinetCheck.val();
            }
            var insideFridgeCheck = $("#insideFridgeCheck");

            if (insideFridgeCheck.is(':checked')) {
                serviceRequestData.extraHours += 0.5;
                serviceRequestData.fridge = insideFridgeCheck.val();
            }

            var insideOvenCheck = $("#insideOvenCheck");

            if (insideOvenCheck.is(':checked')) {
                serviceRequestData.extraHours += 0.5;
                serviceRequestData.oven = insideOvenCheck.val();
            }

            var laundryCheck = $("#laundryCheck");

            if (laundryCheck.is(':checked')) {
                serviceRequestData.extraHours += 0.5;
                serviceRequestData.laundry = laundryCheck.val();
            }

            var interiorCheck = $("#interiorCheck");

            if (interiorCheck.is(':checked')) {
                serviceRequestData.extraHours += 0.5;
                serviceRequestData.windows = interiorCheck.val();
            }

            console.log(serviceRequestData);


            $.ajax(
                {
                    type: 'POST',
                    url: '/Customer/PayDone',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: serviceRequestData,
                    success:
                        function (response) {
                            if (response.value == "true") {
                                alert("payment done");

                            } else {

                                alert("fails");
                            }


                        },
                    error:
                        function (response) {
                            console.error(response);
                            alert("fail");
                        }
                });


        }



    </script>
</body>
</html>

