@{
    ViewData["Title"] = "Home Page";


}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>home page</title>
</head>

<body>

    <section id="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <a asp-action="Index" class="navbar-brand"><img class="logo" src="image/logo-small.png" alt="Helperland"></a>
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="border:none;"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav text-center ms-auto">
                    <li class="nav-item"><a class="button nav-link">Book a Cleaner</a></li>
                    <li class="nav-item"><a asp-action="Price" class="nav-link">Prices</a></li>
                    <li class="nav-item"><a class="nav-link">Our Guarantee</a></li>
                    <li class="nav-item"><a class="nav-link">Blog</a></li>
                    <li class="nav-item"><a asp-action="Contact" class="nav-link">Contanct us</a></li>
                    <li class="nav-item">
                        <a id="Login" class="login-button nav-link" data-bs-toggle="modal"
                           data-bs-target="#staticBackdrop">Login</a>
                    </li>
                    <li class="nav-item"><a asp-controller="Registration" asp-action="BecomePro" class="button nav-link">Become a Helper</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img style="vertical-align: baseline;" src="image/flag.png" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><img src="" alt=""> <span>India</span> </a></li>
                            <li><a class="dropdown-item" href="#"><img src="image/flag.png" alt=""> <span>U.K.</span> </a></li>
                            <li><a class="dropdown-item" href="#"><img src="image/flag.png" alt=""> <span>U.S.A.</span> </a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="modal fade" id="staticBackdrop" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title login-title" id="staticBackdropLabe">
                            Login to your account
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            <div>
                                <div class="form-group inner-addon right-addon">
                                    <img src="user.png" alt="" />
                                    <input type="email" class="form-control" placeholder="E-Mail" />

                                </div>
                                <div class="inner-addon right-addon">
                                    <img src="lock.png" alt="" />
                                    <input type="password" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Save on computer
                                    </label>
                                </div>
                                <br />
                                <input class="login-btn" type="submit" value="Log in" />
                            </div>
                        </form>

                        <div class="text-center mt-3">
                            <a class="forget-password-link" href="" data-bs-toggle="modal"
                               data-bs-target="#staticBackdrop1" data-bs-dismiss="modal">Forgot Password?</a>
                            <p>dont' have account? <a class="forget-password-link" asp-controller="Registration" asp-action="SignUp">create Account</a> </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop1" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title login-title" id="staticBackdropLabe1">
                            Forget Password
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            <div>
                                <div class="form-group inner-addon right-addon">
                                    <img src="user.png" alt="" />
                                    <input type="email" class="form-control" placeholder="E-Mail" />

                                </div>

                                <br />
                                <input class="login-btn" type="submit" value="Send" />
                            </div>
                        </form>

                        <div class="text-center mt-3">
                            <a class="forget-password-link" href="" data-bs-toggle="modal"
                               data-bs-target="#staticBackdrop" data-bs-dismiss="modal">Log in</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="title">
            <h1>Lorem ipsum dolor.</h1>
            <ul>
                <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit dsfa.</li>
                <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit dsfa.</li>
                <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit dsfa.</li>
            </ul>
        </div>
        <div class="text-center mt-5">
            <a class="button center-btn" type="button">Let's Book a Cleaner</a>

        </div>

        <div class="row row-cols-auto process">
            <div class="col part">
                <img src="image/step-1.png" alt="postcode">
                <p>Enter your postcode</p>

            </div>
            <div class="col  part arrow">
                <img src="image/step-arrow-2.png" alt="arrow">
            </div>
            <div class="col part">
                <img src="image/step-2.png" alt="plan">
                <p>Select your plan</p>
            </div>
            <div class="col part arrow">
                <img src="image/step-arrow-1.png" alt="arrow">
            </div>
            <div class="col part">
                <img src="image/step-3.png" alt="payonline">
                <p>Pay securely online</p>
            </div>
            <div class="col part arrow">
                <img src="image/step-arrow-2.png" alt="arrow">
            </div>
            <div class="col part">
                <img src="image/step-4.png" alt="service">
                <p>Enjoy amazing service</p>
            </div>
        </div>

        <div class="down">
            <a href="#whyUs"><i class="fas fa-arrow-down border border-1  p-2"></i></a>
        </div>
    </section>

    <section id="whyUs">
        <h1>Why Helperland</h1>
        <div class="container">
            <div class="row">
                <div class=" col-lg-4  reason">
                    <img class="img-fluid" src="image/professionals.jpg" alt="exprience">
                    <h3>Exprience & Vetted Professinals</h3>
                    <p>
                        dominate the industry in scale and scope with an adaptable, extensive network that consistently
                        delivers exceptional results.
                    </p>
                </div>
                <div class="col-lg-4  reason">
                    <img class="img-fluid" src="image/group-23.png" alt="palyment">
                    <h3>Secure Online Payment</h3>
                    <p class="a">
                        Payment is processed securely online. Customers pay safely online and manage the booking.
                    </p>
                </div>
                <div class="col-lg-4  reason">
                    <img class="img-fluid" src="image/group-24.png" alt="service">
                    <h3>Dedicated Customer Service</h3>
                    <p>
                        to our customers and are guided in all we do by their needs. The team is always happy to support you
                        and offer all the information.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id="about">
        <div class="container-fluid d-flex flex-wrap justify-content-center">
            <div class="row">
                <div class="about-text col-lg-7">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan
                        vitae, pulvinar ac libero.
                    </p>
                    <p>
                        Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus
                        vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis
                        vehicula.
                    </p>
                    <p> Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                </div>
                <div class="col-lg-3">
                    <img class="about-image" src="image/group-36.png" alt="peoples">

                </div>
            </div>
        </div>

        <div class="bog">
            <h1>Our Blog</h1>
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="card card-box">
                        <img src="image/card-img1.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                            <h6 class="card-subtitle mb-2 text-muted">January 28, 2019</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                metus pulvinar aliquet.
                            </p>
                            <a href="#">Read the Post <img src="image/shape-2.png" style="margin-left:4px;"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card card-box">
                        <img src="image/card-img2.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                            <h6 class="card-subtitle mb-2 text-muted">January 28, 2019</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                metus pulvinar aliquet.
                            </p>
                            <a href="#">Read the Post <img src="image/shape-2.png" style="margin-left:4px;"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-box ">
                        <img src="image/card-img3.png" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                            <h6 class="card-subtitle mb-2 text-muted">January 28, 2019</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum
                                metus pulvinar aliquet.
                            </p>
                            <a href="#">Read the Post <img src="image/shape-2.png" style="margin-left:4px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="CustomerVoice">
        <h1>What Our Customers Say</h1>
        <div class="container">
            <div class="row  justify-content-center ">
                <div class=" col-lg-4" style="width:360px;">
                    <div class="card card-box review ">
                        <div class="card-body">
                            <div class="row">
                                <img class="customer-image col-sm-6" src="image/customer1.png">
                                <div class="col-sm-6">
                                    <h5 class="card-title">Lary Watson</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Manchester</h6>
                                    <img class="batch" src="image/message.png">
                                </div>

                            </div>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh. </p>
                            <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            <a href="#">Read More <img src="image/shape-2.png" style="margin-left:4px;"></a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4" style="width:360px;">
                    <div class="card card-box review">
                        <div class="card-body">
                            <div class="row">
                                <img class="customer-image col-sm-6" src="image/customer2.png">
                                <div class="col-sm-6 ">
                                    <h5 class="card-title">John Smith</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Manchester</h6>
                                    <img class="batch" src="image/message.png">
                                </div>

                            </div>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh. </p>
                            <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            <a href="#">Read More <img src="image/shape-2.png" style="margin-left:4px;"></a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4" style="width:360px;">
                    <div class="card card-box review">
                        <div class="card-body">
                            <div class="row">
                                <img class="customer-image col-sm-5" src="image/customer3.png">
                                <div class="col-sm-7">
                                    <h5 class="card-title">Lars Johnson</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Manchester</h6>
                                    <img class="batch" src="image/message.png">
                                </div>

                            </div>
                            <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh. </p>
                            <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            <a href="#">Read More <img src="image/shape-2.png" style="margin-left:4px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 style="margin-bottom:15px;margin-top:0px;font-size:20px;">GET OUR NEWSETTER</h5>

        <a href="#"><svg class="up-arrow fixed-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M10 9.172l3.536 3.535a1 1 0 0 0 1.414-1.414L10.707 7.05a1 1 0 0 0-1.414 0L5.05 11.293a1 1 0 0 0 1.414 1.414L10 9.172zM10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z"></path></svg></a>

        <form action="#" style="margin:40px" method="post">

            <input class="newsetter" type="email" name="email" placeholder="YOUR EMAIL"> <input type="submit" class="btn-submit" name="submit" value="sumit">
            <img class="chat" src="image/layer-598.png">
        </form>

    </section>
    <section id="footer" ">
        <div class="row justify-content-between ">
            <div class="col-12 col-md-1 text-center">
                <a href="#"><img class="brand" src="image/white-logo-transparent-background.png" style="width:100px"></a>
            </div>
            <div class="col-12 col-md-8">
                <ul>
                    <li class="nav-item"><a asp-action="Index" class="nav-link">HOME</a></li>
                    <li class="nav-item"><a asp-action="About" class="nav-link">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link">TESTIMONIALS</a></li>
                    <li class="nav-item"><a asp-action="Faq" class="nav-link">FAQS</a></li>
                    <li class="nav-item"><a class="nav-link">INSURANCE POLICY</a></li>
                    <li class="nav-item"><a class="nav-link">IMPRESSUM</a></li>

                </ul>
            </div>
            <div class="col-12 col-md-1">
                <div class="social-media justify-content-center">
                    <a class="nav-link"><img src="image/ic-facebook.png"></a>
                    <a class="nav-link"><img src="image/ic-instagram.png"></a>
                </div>
            </div>
        </div>



    </section>
    <div class="policy container-fluid">

        <p id="policy-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac. <a href="#">Privacy Policy</a><a id="ok-btn">OK!</a>
        </p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script>
        window.addEventListener("scroll", () => {
                var nav = document.querySelector("nav");
                nav.classList.toggle("sticky", window.scrollY > 0);
            var brand = document.getElementsByClassName("logo")[0];
                brand.classList.toggle("brand-img", window.scrollY > 0);

            });
            document.getElementById("ok-btn").onclick = function () {
                document.getElementById("policy-text").style.display = "none";
            document.getElementsByClassName("policy")[0].style.background = "#111111";
            document.getElementsByClassName("policy")[0].style.display = "none";
            }

           

    </script>


</body>


</html>

