*{
  font-family: 'Roboto', sans-serif;
}


body{
  margin:0;
  padding:0;

}



/* Navbar  */


.nav-link{
  display: inline-block !important;
}


.collapse.show{
  background-color: #757575;
}
nav{
  padding:6px 15px 4px 15px;
  font-family: "Robo";
  background-color: #757575;
  transition: 0.6s;
  position: sticky !important;
  top:0;
  left:0;
  right:0;
  z-index:10;
 
}

#header li a{
  font-size:16px;
  font-weight: normal;
  color:#FFFFFF;
  text-decoration: none;
}

.button{
  border:solid .2px white;
  border-radius: 20px;
  text-align: center;
  background-color: #29626D;
  opacity: 100%;

}
#header li{
  margin:6px 5px 8px 5px;
}
.book-btn{
  width:111px;
  height:40px;
}

.login-btn{
  width:83px;
  height:40px;

}
#FAQs{
  height:fit-content;
}
.helper-btn{
  width:161px;
  height:40px;

}

.header-img{
  width:100%;
}

/* Setup service booking */



/* setup-left side */
.setup{
  display:flex;
  margin-top:49px;
  margin-left:209px;
}


.setup-options{

  width: fit-content;
  


}
.setup-options ul{
  
  padding: 0;
  background: #F3F3F3;
  margin: 0;

  
}
.setup-options li{
  list-style: none;
  display: inline-block;
  padding:21px 9px 21px 9px;
  font-size: 18px;
  color:#646464;
}

#setup-service{
  text-align: center;
  margin-top:20px;

}

#setup-service h2{
  color: #4F4F4F;
  font-size:36px;

}

.schedule-plan{
  text-align: left;
  margin-top:30px;
 
}

.schedule-plan label{
  color:#4F4F4F;
  font-size: 18px;
  font-weight: bold;
  margin-bottom:5px;
}

.schedule-plan input{
  font-size:16px;
  color:#646464;
  border:solid 1px #E1E1E1;
  background: white;
  border-radius: 3px;
  padding:9px;
}

.schedule-plan select{
  font-size:16px;
  color:#646464;
  border:solid 1px #E1E1E1;
  background: white;
  border-radius: 3px;
  margin-left:0px;
  margin-right:5px;
  padding:13px 5px;
}

.selectRoomAndBath{
  display:flex;
  border-top:solid 1px #E1E1E1;
  border-bottom:solid 1px #E1E1E1;
  margin-top:30px;
  padding-top:35px;
  padding-bottom:50px;
}

.selectRoomAndBath input[type="date"]{
  border:none;
  padding:0px;
  
}

.date-input{
  border:solid 1px #E1E1E1;
  padding:10px 5px;
  text-align: center;
  height:46px;
  border-radius: 3px;
  margin-right:10px;
}

.date-input img{
  margin-left:10px;
}

.totalTime{
  margin-left:50px;
}

.line{
  display:inline-block;
  background-color: #CCCCCC;
  width:62px;
  margin:0 9px;
  height:2px;

}

/* setup right  */

.setup-right{
  margin-left:29px;
  width:30%;
}

.price-card{
  font-size:16px;
  color:#4F4F4F;
  border:solid 1px #00000059;
  box-shadow: 0px 0px 7px #00000059;
}

.price-card p{
  text-align: left;
  margin-left:18px;
  margin-top:28px;
}

.price-card span{
  display: block;
}

.price-card h3{
  color:#FFFFFF;
  font-size:18px;
  background: #1D7A8C;
  padding:21px 9px 21px 22px;
  height:74px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;

}
.price-card h4{
  margin-top:30px;
  text-align: left;
  margin-left:18px;
}
.duration{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  margin-right:18px;
  margin-left:18px;
  border-bottom:solid 1px #E1E1E1;
}

.duration p{
  margin:0px;
}
/* newsetter */

#newuser{
  text-align: center;
  margin-top:54px;
  margin-bottom:53px;
  }
  
  #newuser h3{
      font-size: 18px;
      color:#353548;
      margin-bottom:16px;
  }
  
  
  
  .newsetter{
  border-radius: 20px;
  border: solid .3px #565656;
  height: 40px;
  width: 233px;
  padding: 13px;
  font-size: 13px;
  margin-bottom:10px;
  }
  
  .btn-submit{
  background-color: #FF7B6D;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: normal;
  font-size: 15px;
  width: 88px;
  height: 40px;
  margin-left: 11px;
  }
  
  /*  Footer  */

#footer{
  background-color: #111111;
  color:#F1F1F1;
  padding-top:20px;
  text-align: center;
  padding-bottom:10px;

}
.footer-menu{
  text-align: center;
  padding:0;
  margin:15px 0;

}
.footer-menu li{
  list-style: none;
  display: inline-block;
  margin:6px;
}

@media (max-width:503px){
  .footer-menu li{
      display:block;
      text-align: center;
      padding:5px;

  }
}

.policy{
  color:#9BA0A3;
  font-size: 14px;
  font-weight: normal;

}

a{
  color:#9BA0A3;
  text-decoration: none;
}

