* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Navbar */

#header nav {
    padding: 6px 15px 4px 15px;
    transition: 0.6s;
    top: 0;
    right: 0;
    left: 0;
    background: #1fb6ff;
}

#header .navbar-brand {
    font-size: 37px;
}

#header nav a {
    color: white;
    font-size: 16px;
}

/* contant menu */

/* contant left */
#contant {
    display: flex;
  
}

#contant-menu {
    width: 20%;
    background: #ffff;
    border: solid 1px #e5e5e5;
}

    #contant-menu ul {
        padding: 0;
    }

    #contant-menu li {
        font-size: 16px;
        color: #646464;
        font-weight: normal;
        list-style: none;
        border-bottom: solid 1px #e5e5e5;
        padding: 13.5px 55px 13.5px 15px;
    }

/* contant-right */

.contant-right {
    width: 80%;
    background: #f2f4f5;
}

form {
    background: #ffff;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
    padding: 10px;
}

    .form-search select {
        margin: 10px;
        color: #a0a0a0;
        border: solid 1px #dedddd;
        height: 46px;
    }

    .form-search input[type="submit"] {
        margin: 10px;
    }

    .form-search input[type="text"] {
        color: #a0a0a0;
        border: solid 1px #dedddd;
        height: 46px;
    }

.input-group-text {
    color: #646464;
    border: solid 1px #dedddd;
}

.submit-btn {
    background: #1fb6ff;
    width: 84px;
    height: 46px;
    text-align: center;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 17px;
    border-radius: 3px;
}

.reset-btn {
    background: #ffffff;
    width: 84px;
    height: 46px;
    text-align: center;
    font-size: 16px;
    color: #646464;
    border: none;
    padding: 10px 17px;
    border: solid 1px #dedddd;
    border-radius: 3px;
}

.contant-table {
    margin: 20px;
}

#mytable {
    width: 100% !important;
    border: solid 1px #e1e1e1;
}

table.dataTable thead th,
table.dataTable tbody td {
    padding: 10px 18px;
    border-bottom: solid 1px #e1e1e1;
}

#contant thead {
    background: #f9f9f9;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0px;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: white !important;
        background: #565656;
    }

#mytable tr {
    border-bottom: solid 1px #e1e1e1;
}

#contant th,
#contant td {
    padding: 15px 20px 13px 15px;
    color: #646464;
}

#mytable tbody {
    background: #ffffff;
}

.active-label {
    background: #67b644;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.inactive-label {
    background: #ff6b6b;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.complete-label {
    background: #67b644;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.cap-icon {
    margin: auto 10px auto 0px;
    text-align: center;
    border: solid 1px #aaaaaa;
    padding: 10px;
    width: 44px;
    height: 44px;
    border-radius: 100px;
}

.cancel-label {
    background: #ff6b6b;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.new-label {
    background: #f2bb37;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.pending-label {
    background: #1fb6ff;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.table-head {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 10px 20px;
}

    .table-head h2 {
        color: #646464;
        font-size: 26px;
        font-weight: bold;
    }

.addUser-btn {
    background: #1fb6ff;
    color: #ffff;
    text-decoration: none;
    width: 132px;
    height: 36px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    border-radius: 4px;
}

a:hover {
    color: white;
    text-decoration: none;
}

#mytable_length {
    color: #646464;
}

    #mytable_length label {
        margin-top: 15px;
    }

    #mytable_length select {
        margin: 0px 10px;
        border: solid 1px #e1e1e1;
        color: #646464;
    }

#mytable_info {
    display: none;
}

.paginate_button {
    padding: 7px 15px !important;
    border: 1px solid #aaaaaa !important;
}

#mytable_first,
#mytable_last {
    display: none;
}

.admin-table-action-menu {
    display: none;
    position: absolute;
    right: 20px;
    width: max-content;
    text-align: left;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: 0px 0px 6px #00000040;
    padding: 7.5px 15px;
    width: 160px;
    border-radius: 6px;
    margin-top: 5px;
}

    .admin-table-action-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .admin-table-action-menu ul li {
            padding: 7.5px 0;
        }

.admin-table-action {
    text-align: center !important;
    position: relative;
}

.admin-table-action-menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 18px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    transform: rotate(45deg);
    box-shadow: -4px -4px 6px #00000040;
}

.admin-table-actionbtn {
    border: 0;
    background-color: #ffffff00;
    padding: 4px 15px;
}

    .admin-table-actionbtn:hover {
        border-radius: 50%;
        background-color: #f4f4f4;
    }

.copyright {
    margin: 20px;
    text-align: left;
    color: #a2a6a8;
    font-size: 14px;
}

.export-btn {
    background: #1fb6ff;
    color: #ffffff;
    font-size: 14px;
    width: 70px;
    height: 34px;
    padding: 7px 14px 9px 16px;
    border-radius: 17px;
    text-decoration: none;
}

.Export {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.active {
    color: #1fb6ff !important;
}

@media (max-width: 870px) {
    .form-search {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .input-group {
        margin: 10px 10px 20px 10px;
    }
}
