/* .p-boader{
    border:solid blue;
}

.boader{
    border:solid red;
} */

* {
    font-family: 'Roboto', sans-serif;
}

/* Navbar  */
body {
    margin: 0;
    padding: 0;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #ffff !important;
}

nav {
    padding: 6px 15px 4px 15px;
    font-family: "Robo";
    background-color: rgba(39,39,39,.7);
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar li a {
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    border: solid .2px #FFFFFF80;
    border-radius: 20px;
    text-align: center;
    background-color: #29626D;
    opacity: 100%;
}

.nav-link {
    display: inline-block !important;
}

.navbar li {
    margin: 6px 5px 8px 5px;
}

.book-btn {
    width: 111px;
    height: 40px;
}

.login-btn {
    width: 83px;
    height: 40px;
}

.helper-btn {
    width: 161px;
    height: 40px;
}

.service-btn {
    border: solid .2px #FFFFFF80;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    width: 161px;
}

.header-img {
    width: 100%;
}

/* FAQ's title */
#FAQs {
    height: fit-content;
}

.faq-title {
    margin-top: 96px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    display: inline-block;
    background-color: #CCCCCC;
    width: 62px;
    margin: 0 9px;
    height: 2px;
}

.faq-title h2 {
    font-size: 35.95px;
    font-weight: bold;
    color: #4F4F4F;
}

.faq-title p {
    margin-top: 34px;
    max-width: 498px;
    color: #646464;
    font-size: 18px;
}


.faq-table {
    margin-top: 35px;
    margin-bottom: 4%;
    max-width: 966px;
    text-align: center;
}

.customer {
    padding: 19px 106px 18px 106px;
    font-size: 24px;
    color: #646464;
    background-color: #F6F6F6;
    border-bottom: solid 4px #29626D;
}

#need {
    display: "block";
}

#helper {
    display: "none";
}

.service {
    font-size: 24px;
    padding: 19px 106px 18px 106px;
    color: #646464;
    background-color: #F6F6F6;
    border-bottom: solid 4px #29626D;
}

.active {
    color: white;
    background-color: #29626D;
    border: none;
}



.content {
    text-align: left;
    font-size: 16px;
    color: #646464;
    max-width: 996px;
    margin: auto;
}

    .content p {
        font-weight: bold;
    }

    .content a {
        margin-right: 15px;
    }

.card-body {
    box-shadow: none;
    border: none;
}




.card {
    padding-left: 40px !important;
}

.content1, .content2, .content3, .content4, .content5, .content6, .content7 {
    margin: 20px 0;
}

#newuser {
    text-align: center;
    margin-top: 54px;
    margin-bottom: 53px;
}

    #newuser h3 {
        font-size: 18px;
        color: #353548;
        margin-bottom: 16px;
    }



.newsetter {
    border-radius: 20px;
    border: solid .3px #565656;
    height: 40px;
    width: 233px;
    padding: 13px;
    font-size: 13px;
}

.btn-submit {
    background-color: #FF7B6D;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: normal;
    font-size: 15px;
    width: 88px;
    height: 40px;
    margin-left: 11px;
}

/*  Footer  */

#footer {
    background-color: #111111;
    color: #F1F1F1;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.footer-menu {
    text-align: center;
    padding: 0;
    margin: 15px 0;
}

    .footer-menu li {
        list-style: none;
        display: inline-block;
        margin: 6px;
    }

@media (max-width:503px) {
    .footer-menu li {
        display: block;
        text-align: center;
        padding: 5px;
    }
}

.policy {
    color: #9BA0A3;
    font-size: 14px;
    font-weight: normal;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}
