* {
    font-family: 'Roboto', sans-serif;
}



body {
    margin: 0;
    padding: 0;
}

/* Navbar  */
nav {
    padding: 6px 15px 4px 15px;
    font-family: "Robo";
    background-color: rgba(39,39,39,.7);
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav-link {
    display: inline-block !important;
}

    .nav-link:hover, .nav-link:focus {
        color: #fff;
    }

.navbar li a {
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    border: solid .2px #FFFFFF80;
    border-radius: 20px;
    text-align: center;
    background-color: #29626D;
    opacity: 100%;
}

.navbar li {
    margin: 6px 5px 8px 5px;
}

.book-btn {
    width: 111px;
    height: 40px;
}

.login-btn {
    width: 83px;
    height: 40px;
}

.helper-btn {
    width: 161px;
    height: 40px;
}

.service-btn {
    border: solid .2px #FFFFFF80;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    width: 161px;
}

.header-img {
    width: 100%;
}


/* header */
#header {
    text-align: center;
    background: #f9f9f9;
    padding: 50px 0;
}

    #header h1 {
        font-size: 30px;
        font-weight: normal;
        color: #4f4f4f;
    }

/* Dashboard*/

/* Service history */

#contant {
    display: flex;
    justify-content: center;
    margin: 31px 0;
}

.table-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-title {
    font-size: 22px;
    color: #646464;
    font-weight: bold;
}

.export-btn,
.accept-btn,
.cancel-btn {
    display: inline-block;
    background: #146371;
    color: #ffffff;
    font-size: 14px;
    width: fit-content;
    height: 34px;
    padding: 7px 14px 9px 16px;
    border-radius: 17px;
    margin-bottom: 10px;
    border: none;
}

.cancel-btn {
    background-color: #ff6b6b;
}

.accept-btn{
    display:flex;
    margin:auto;
}
.serviceRequest-btn {
    background: #146371;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    height: 34px;
    padding: 7px 14px 9px 16px;
    border-radius: 17px;
}

.contant-right table {
    border: solid 1px #e1e1e1;
    border-collapse: collapse;
    text-align: left;
    width: 100% !important;
}

    .contant-right table td span {
        display: block;
    }

.contant-right tr {
    border-bottom: solid 1px #e1e1e1;
}

.contant-right th,
.contant-right td {
    padding: 15px 20px 13px 15px;
    color: #646464;
}

.contant-right {
    width: 75%;
    padding: 20px;
}

/* pagging and table size */

#ServiceHistory {
    display: none;
}

#rows {
    background: #fff;
    border: solid 1px #e1e1e1;
    padding: 5px;
    color: #646464;
    font-size: 14px;
}



#mytable1_filter,
#mytable2_filter,
#mytable3_filter,
#mytable4_filter {
    display: none !important;
}

#mytable1_length,
#mytable2_length,
#mytable3_length,
#mytable4_length {
    color: #646464;
}

    #mytable1_length label,
    #mytable2_length label,
    #mytable3_length label,
    #mytable4_length label {
        margin-top: 15px;
    }

    #mytable1_length select,
    #mytable2_length select,
    #mytable3_length select,
    #mytable4_length select {
        margin: 0px 10px;
        border: solid 1px #e1e1e1;
        color: #646464;
    }

.paginate_button {
    padding: 7px 15px !important;
    border: 1px solid #aaaaaa !important;
    border-radius: 50% !important;
    margin: 0 2.5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #146371 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #777777 !important;
}

.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
}

.current {
    background: #146371 !important;
    color: #aaaaaa !important;
}

#mytable1_info,
#mytable2_info,
#mytable3_info,
#mytable4_info {
    margin-top: 7px;
    margin-left: 7px;
    color: #646464;
}

.sizing {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.active {
    background: #1d7a8c;
}

.page-icon {
    border: solid 1px #e1e1e1;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
    border-radius: 100px;
    color: #777777;
    margin-left: 2px;
    width: 38px;
    height: 38px;
}

#contant-menu {
    width: 16.8%;
    background: #1d7a8c;
    margin-right: 31px;
}

    #contant-menu ul {
        padding: 0;
    }

    #contant-menu li {
        font-size: 18px;
        color: #ffffff;
        font-weight: normal;
        list-style: none;
        border-bottom: solid 1px #ffffff;
        padding: 13.5px 55px 13.5px 15px;
    }

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: solid 1px #e1e1e1;
}

.cap-icon {
    margin: auto 10px auto 0px;
    text-align: center;
    border: solid 1px #aaaaaa;
    padding: 10px;
    width: 44px;
    height: 44px;
    border-radius: 100px;
}

.address-td-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.payment-td {
    text-align: center;
    color: #1d7a8c;
    font-size: 20px;
}

.completed-label {
    background: #67b644;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 4px 9px;
    text-align: center;
    width: 83px;
    margin: auto;
}

.cancel-label {
    background: #ff6b6b;
    color: #ffff;
    font-size: 13px;
    padding: 5px 10px 4px 9px;
    text-align: center;
    width: 83px;
    margin: auto;
}

.rateSP-btn {
    background: #6da9b5;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 9px 9px 12px;
    border-radius: 17px;
    width: 70px;
    height: 34px;
    margin: auto;
}

/*  Footer  */

#footer {
    background-color: #111111;
    color: #f1f1f1;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.footer-menu {
    text-align: center;
    padding: 0;
    margin: 15px 0;
}

    .footer-menu li {
        list-style: none;
        display: inline-block;
        margin: 6px;
    }

@media (max-width: 503px) {
    .footer-menu li {
        display: block;
        text-align: center;
        padding: 5px;
    }

    .paging {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 782px) {
    td {
        display: block !important;
        border-bottom: 1px solid #e1e1e1;
        margin: 0 15px;
        padding-left: 0 !important;
    }

    thead {
        display: none;
    }

    th {
        display: none;
    }

    tr {
        width: 300px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    }

    #mytable1,
    #mytable2,
    #mytable3,
    #mytable4 {
        max-width: 900px !important;
    }

    tbody {
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #contant table {
        border-collapse: separate;
        border-spacing: 20px 20px;
        margin: 0 !important;
        padding: 0 !important;
        border: 0;
    }
}

.policy {
    color: #9ba0a3;
    font-size: 14px;
    font-weight: normal;
}

a {
    color: #9ba0a3;
    text-decoration: none;
}

.section-divder {
    width: 80%;
    margin: 74px auto 74px auto;
    background-color: #dcdcdc;
    border: solid 1px;
}

@media (max-width: 991px) {
    #contant-menu {
        display: none;
    }

    #upcoming-menu-collapse {
        display: block;
        border-bottom: solid 1px white;
    }

    .badge {
        top: 0px;
        right: -7px;
    }

    .button {
        border: none;
    }
}

/* My setting  */

.my-setting-box {
    color: #646464;
    width: 75%;
}

.my-setting-menu ul {
    display: flex;
    padding: 0;
    margin-bottom: 20px;
}

    .my-setting-menu ul li {
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        padding: 16px 0;
        text-align: center;
        border-bottom: 4px solid #e1e1e1;
        width: 50%;
        transition: all 0.3s;
    }

.active-setting-option {
    color: #1d7a8c;
    border-bottom: 4px solid #1d7a8c !important;
}




/* user details  */

.my-setting-details {
    width: 100%;
}

    .my-setting-details label {
        margin-bottom: 3px;
    }

    .my-setting-details h2 {
        font-size: 22px;
        font-weight: bold;
    }

.status {
    color: #67b644;
    font-weight: 400;
}

.basic-details-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.basic-details {
    height: fit-content;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid #e1e1e1;
}

.avtar-box {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    flex-wrap: wrap;
}


.avtar {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

    .avtar + img {
        cursor: pointer;
    }

    .avtar:checked + img {
        outline: 2px solid #146371;
        border-radius: 50%;
    }

.avtar-box img {
    width: 75px;
    height: 75px;
}

.Gender-box label {
    margin-bottom: 4px;
}

.Gender-box input[type="radio"] {
    margin-left: 10px;
    font-size: 18px;
    color: #146371;
}

    .Gender-box input[type="radio"]:nth-child(1) {
        margin-left: 0;
    }

.my-setting-details input,
.mobile-box,
.nation select {
    padding: 12px;
    font-size: 16px;
}

    .mobile-box,
    .my-setting-details input[type="date"],
    .nation select {
        color: #646464;
    }

.input-group-text {
    color: #646464 !important;
}

.dobSelect select {
    padding: 13px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin: 0 3px;
    color: #646464;
    flex-grow: 1;
}


.save-btn {
    color: #fff;
    background-color: #146371;
    border-radius: 26px;
    width: 100px;
    margin-top: 20px;
    border: none;
}

.my-setting-change-password label {
    font-weight: bold;
    margin-bottom: 5px;
}

.my-setting-change-password input {
    padding: 12px;
    font-size: 16px;
    max-width: 400px;
}

/* my setting icon for */

.user-details-menu-icon {
    display: none;
}

.user-menu-icon {
    width: 36px;
    height: 36px;
}

.user-menu-header {
    font-weight: bold;
    margin: 10px;
    display: none;
    font-size: 20px;
}

.key-icon {
    transform: rotate(-45deg);
}

@media (max-width: 595px) {
    .user-details-option-text {
        display: none;
    }

    .user-details-menu-icon {
        display: block;
    }

    .user-menu-header {
        display: block;
    }
}

.user-show-address-btn {
    color: #146371;
    border: 1px solid #146371;
    background-color: #fff;
    border-radius: 22px;
    padding: 8px 16px;
}

#serviceProviderCustomerRating table span {
    display: inline-block;
}

.average-rating span {
    position: relative;
    height: 30px;
    width: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

    .average-rating span::before {
        content: "★";
        position: absolute;
        color: #64646466;
        font-size: 24px;
        width: fit-content;
    }

.average-rating .half-start::before {
    content: "★";
    position: absolute;
    color: orangered;
    font-size: 24px;
    width: fit-content;
}

.average-rating span:nth-child(even)::before {
    right: 0px;
    left: initial;
}

#serviceProviderCustomerRating table {
    border-collapse: separate;
    border: none;
    border-spacing: 0 15px;
}

#serviceProviderCustomerRating td {
    float: left;
    padding: 12px;
    height: 100%;
}

#serviceProviderCustomerRating table tr {
    outline: 1px solid #e1e1e1;
    border-radius: 3px;
}

#serviceProviderCustomerRating table td p {
    padding: 0;
    margin: 0;
    line-height: 25px;
}

#serviceProviderCustomerRating td:nth-child(3) {
    float: right;
    margin-right: 20px;
}

#serviceProviderCustomerRating td:last-child {
    width: 100%;
    display: block;
    float: left;
    border-top: 1px solid #e1e1e1;
}

@media (max-width: 782px) {
    #serviceProviderCustomerRating td {
        float: none !important;
    }
}

#serviceProviderCustomerRating #mytable4 thead {
    display: none !important;
}

/* all modal css */

.serivce-request-summary-box{
    display:flex;
  
}

.login-title {
    color: #646464;
    font-size: 24px;
    font-weight: 700;
}

.updateTimeModal .modal-dialog {
    text-align: left;
    width: fit-content;
}

.updateTimeModal .modal-header {
    border: none;
}

.updateTimeModal .modal-body {
    max-width: 100%;
    margin: 16px;
    padding: 0;
    color: #646464;
}

    .updateTimeModal .modal-body .update-btn {
        background-color: #1d7a8c;
        border: none;
        font-size: 18px;
        color: white;
        padding: 10px 30px;
        border-radius: 50px;
        width: 100%;
        font-weight: bold;
    }

.update-time-form {
    max-width: 335px;
}

    .update-time-form label {
        font-weight: bold;
        margin-bottom: 5px;
    }

.date-input,
#rescheduletime {
    border: solid 1px #e1e1e1;
    padding: 10px 5px;
    flex-grow: 1;
    text-align: center;
    height: 46px;
    border-radius: 3px;
    margin-right: 10px;
    color: #646464;
    margin-bottom: 20px;
}

    .date-input img {
        margin-left: 10px;
    }

    .date-input input[type="date"] {
        border: none;
        color: #646464;
        padding: 0px;
    }

#comment {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.serviceRequestSummery {
    color: #646464;
}

.cover {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e1e1e1;
}

    .cover p {
        margin: 0;
    }

#serviceRequestDateTime {
    font-size: 20px;
    font-weight: bold;
}

.netAmount {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

    .netAmount span:last-child {
        color: #1d7a8c;
        font-size: 24px;
        font-weight: bolder;
    }

.Reschedule-btn,
.Cancel-btn {
    display: inline-block;
    background: #146371;
    color: #ffffff;
    font-size: 16px;
    width: fit-content;
    height: 34px;
    padding: 4px 14px 7px 16px;
    border-radius: 17px;
    border: none;
}

.Cancel-btn {
    background-color: #ff6b6b;
}

.x-icon {
    fill: red;
    width: 24px;
    height: 24px;
    stroke: white;
}

.cancel-icon {
    stroke: white;
    width: 18px;
    height: 18px;
    padding-bottom: 3px;
}







.service-request-provider-box {
    border-left: 1px solid #e1e1e1;
    padding: 0 30px;
}


.customer-address-map {
    max-width: 300px;
    height: 360px;
}


.dog-tick-icon {
    width: 24px;
    height: 24px;
    fill: rgb(35, 187, 60);
}
