
<div id="address-list">
    <form action="">
        <label for="Address">
            Enter your details, so we can serve you in better way!
        </label>
        <div id="AddressList">
            <div  class="address-check-box">
                <div><input type="radio" name="address1" /></div>
                <div>
                    <p>
                        <strong>Address: </strong> jankinagar 112, chitra, bhavnagar
                        364004
                    </p>
                    <p><strong>Phone number: </strong>9456315431</p>
                </div>
            </div>

            <div class="address-check-box">
                <div><input type="radio" name="address1" /></div>
                <div>
                    <p>
                        <strong>Address: </strong> jankinagar 112, chitra, bhavnagar
                        364004
                    </p>
                    <p><strong>Phone number: </strong>9456315431</p>
                </div>
            </div>
        </div>

        <button type="button" class="add-address-btn">
            + Add New Address
        </button>
        <div class="add-address-box">
            <div class="addAddress-error d-none alert alert-danger" role="alert">
               
            </div>
            <div class="address-taker-box">
                <div>
                    <label for="streetname"> Street name </label>
                    <br />
                    <input type="text"
                           id="streetname"
                           placeholder="Street name" />
                   
                </div>
                <div>
                    <label for="housename"> House number </label>
                    <br />

                    <input type="text"
                           id="housename"
                           placeholder="House name" />
                </div>
            </div>
            <div class="address-taker-box">
                <div>
                    <label for="postalcode"> Postal code </label>
                    <br />
                    <input type="text"
                           id="postalcode"
                           placeholder="Postal code"   disabled/>
                </div>
                <div>
                    <label for="city"> City </label>
                    <br />
                    <input type="text" id="city" placeholder="City" disabled/>
                </div>
            </div>
            <div class="address-taker-box tel">
                <div>
                    <label for="phonenumber"> Phone number </label>
                    <br />
                    <div class="tel-box">
                        <span class="tel-icon"> +49 </span>
                        <input type="tel"
                               id="phonenumber"
                               placeholder="Phone number" />
                    </div>
                </div>
                <div id="tel2"></div>
            </div>
            <div class="Button">
                <button class="save-btn" type="button" onclick="AddAddress()">Save</button>
                <button class="clear-btn" type="button" onclick="clearAddress()">Cancel</button>
            </div>
        </div>
        <h4 class="favourite-title">Your Favourite Service Providers</h4>
        <div class="favourite-box">
            <label for="comment">
                Your can choose your favourite service provider from the below
                list
            </label>
            <div class="favourite-worker">
                <div style="text-align: center; width: 20%">
                    <img class="favourite-worker-img"
                         src="/image/cap.png"
                         alt="cap" />
                    <p class="mb-2">Sandip Patel</p>
                    <div>
                        <button class="fav-btn btn btn-outline-secondary" data-value="1" type="button">
                            Select
                        </button>
                    </div>
                </div>
                <div style="text-align: center; width: 20%">
                    <img class="favourite-worker-img"
                         src="/image/cap.png"
                         alt="cap" />
                    <p class="mb-2">Sandip Patel</p>
                    <div>
                        <button class="fav-btn btn btn-outline-secondary" data-value="2" type="button">
                            Select
                        </button>
                    </div>
                </div>
                <div style="text-align: center; width: 20%">
                    <img class="favourite-worker-img"
                         src="/image/cap.png"
                         alt="cap" />
                    <p class="mb-2">Sandip Patel</p>
                    <div>
                        <button class="fav-btn btn btn-outline-secondary" data-value="3" type="button">
                            Select
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;margin-top:20px">
            <input id="continue"
                   type="button"
                   onclick="form4()"
                   value="Continue" />
        </div>
    </form>
</div>
