
<div id="UserList" class="contant-right ">
    <div class="table-head">
        <div>
            <h2>User Management</h2>
        </div>
        <div>
            <a class="addUser-btn" href="">
                <img style="margin-right:5px;margin-bottom:2px;" src="/image/add.png"
                     alt="add"> Add New User
            </a>
        </div>
    </div>
    <div>
        <form class="form-search" action="/" method="post">

            <select class="form-select">
                <option selected>User name</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <select class="form-select" >
                <option selected>User type</option>
                <option value=" 1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="input-group me-2">
                <span class="input-group-text" id="basic-addon1">+49</span>
                <input type="text" class="form-control" placeholder="Phone number" aria-label="telephone"
                       aria-describedby="basic-addon1">

            </div>
            <input type="text" class="form-control" placeholder="Zip code" aria-label="telephone"
                   aria-describedby="basic-addon1">
            <input class="submit-btn" type="submit" value="search">
            <input class="reset-btn" type="reset" value="clear">



        </form>
    </div>

    <div class="contant-table">
        <div class="Export">
            <div><a id="export" class="export-btn" href="">Export</a></div>
        </div>
        <table id="mytable">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Registation Date</th>
                    <th>User Type</th>
                    <th>Mobile Number</th>
                    <th>Postal Code</th>
                    <th>City</th>

                    <th style="text-align: center;">User Status</th>
                    <th style="text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                

            </tbody>
        </table>
    </div>
    <div class="copyright">
        ©2018 Helperland. All rights reserved.
    </div>
</div>
