<div id="ServiceRequest" class="contant-right d-none">
    <div class="table-head">
        <div>
            <h2>Service Requests</h2>
        </div>

    </div>
    <div>
        <form class="form-search">
            <input id="searchServiceId" type="text" class="form-control m-2" placeholder="Service Id">
           <input id="searchCustomerName" type="text" class="form-control m-2" placeholder="Customer Name"/>
           <input id="searchServiceProviderName" type="text" class="form-control m-2" placeholder="Service Provider name" />
            <div class="input-group m-2">
                <span class="input-group-text" id="basic-addon1"> <img src="/image/shape-1.png" alt="calander"> </span>
                <input id="searchFromDate" type="text" class="form-control" placeholder="From Date" aria-label="date"
                       aria-describedby="basic-addon1" onfocus="(this.type='date')"
                       onblur="if(this.value==''){this.type='text'}">

            </div>
            <div class="input-group m-2">
                <span class="input-group-text" id="basic-addon1"> <img src="/image/shape-1.png" alt="calander"></span>
                <input id="searchToDate" type="text" class="form-control" placeholder="To Date" aria-label="date"
                       aria-describedby="basic-addon1" onfocus="(this.type='date')"
                       onblur="if(this.value==''){this.type='text'}">

            </div>
            <input id="serviceRequestSearchBtn" class="submit-btn" type="button" value="search">
            <input class="reset-btn" type="reset" value="clear">



        </form>
    </div>

    <div class="contant-table">
        <div class="Export">
            <div><a id="export" class="export-btn" href="">Export</a></div>
        </div>
        <table id="mytable2" style="width:100% !important;">
            <thead>
                <tr>
                    <th>Service Id</th>
                    <th>Service Date</th>
                    <th>Customer Details</th>
                    <th>Net Amounts</th>
                    <th class="text-center">Service Provider</th>
                    <th style="text-align: center;">User Status</th>
                    <th style="text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>323436 </td>
                    <td>
                        <img src="/image/calendar2.png" alt="calendar" />
                        <strong> 09/04/2018</strong>
                        <p>
                            <img src="/image/layer-14.png" alt="" /> 12:00- 18:00
                        </p>
                    </td>
                    <td>
                        David Bough <p><img src="/image/layer-15.png" alt="home"> Musterstrabe 5,12345 Bonn</p>
                    </td>
                    <td class="text-center">100€</td>
                    <td>
                        <div class="service-provider-average-rating" id="serviceproviderId">
                            <div>
                                <img class="cap-icon" src="/image/cap.png" alt="cap">
                            </div>
                            <div>
                                <div>
                                    <span class="spName"> samay nandaniya </span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="average-rating" id="spratingId">

                                        <span class=" half-star half-start"></span><span class=" half-star half-start"></span><span class=" half-star half-start"></span><span class=" half-star half-start"></span><span class=" half-star half-start"></span><span class=" half-star half-start"></span><span class=" half-star half-start"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span>
                                    </div>
                                    <div style="padding-top: 4px; padding-left: 3px">
                                        <span class="sprating"> 3.4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;"> <span class="complete-label">complete</span> </td>
                    <td style="text-align:center;" class="admin-table-action">
                        <div class="dropdown">
                            <button class="admin-table-actionbtn " type="button" id="dropdownMenuButton2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-v" aria-hidden="true" style="color:#646464"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="copyright">
        ©2018 Helperland. All rights reserved.
    </div>
</div>