<a id="CustomerServiceSummery-btn" class="d-none" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"></a>
<div class="modal fade serviceRequestSummery"
     id="staticBackdrop2"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabe3"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title login-title" id="staticBackdropLabe3">
                    Service Details
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="service-request-summary">
                    <div class="cover">
                        <p id="serviceRequestDateTime">05/10/2021 08:00 - 11:30</p>
                        <p><strong>Duration: </strong><span  id="serviceRequestDuration">3.5 Hrs</span> </p>
                    </div>
                    <div class="cover">
                        <p><strong>Service Id:</strong> <span id="ServiceRequestId">8888</span> </p>
                        <p id="serviceExtra1" class="d-none"><strong>Extras:</strong> Inside cabinets</p>
                        <p id="serviceExtra2" class="d-none"><strong>Extras:</strong> Inside fridge</p>
                        <p id="serviceExtra3" class="d-none"><strong>Extras:</strong> Inside oven</p>
                        <p id="serviceExtra4" class="d-none"><strong>Extras:</strong> Laundry Wash & Dry</p>
                        <p id="serviceExtra5" class="d-none"><strong>Extras:</strong> interior Windows</p>
                        <p class="netAmount">
                            <span><strong>Net Amount:</strong></span>
                            <span class="netAmountNo">87,50 &#8364;</span>
                        </p>
                    </div>
                    <div class="cover">
                        <p>
                            <strong>Service Address: </strong> <span id="serviceRequestAddress"> Ganeshnagar 121, 364004 Bhavnagar</span>
                        </p>
                        <p>
                            <strong>Billing Address:</strong> Same as clearing Address
                        </p>
                        <p><strong>Phone:</strong> <span id="ServiceRequestPhone">+917433984425</span> </p>
                        <p><strong>Email:</strong> <span id="ServiceRequestEmail">kbsarvaiya123@gmail.com</span> </p>
                    </div>
                    <div class="cover">
                        <p>
                            <strong>Comments </strong>
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="x-icon"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>I don't have pets at home
                        </p>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="Reschedule-btn" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="cancel-icon"
                                 width="18"
                                 height="18"
                                 fill="#ffffff"
                                 viewBox="0 0 256 256">
                                <rect width="256" height="256" fill="none"></rect>
                                <line x1="128"
                                      y1="80"
                                      x2="128"
                                      y2="128"
                                      fill="none"
                                      stroke="#ffffff"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="16"></line>
                                <line x1="169.6"
                                      y1="152"
                                      x2="128"
                                      y2="128"
                                      fill="none"
                                      stroke="#ffffff"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="16"></line>
                                <polyline points="184.2 99.7 224.2 99.7 224.2 59.7"
                                          fill="none"
                                          stroke="#ffffff"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          stroke-width="16"></polyline>
                                <path d="M190.2,190.2a88,88,0,1,1,0-124.4l34,33.9"
                                      fill="none"
                                      stroke="#ffffff"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="24"></path>
                            </svg>
                            Reschedule
                        </button>
                        <button type="button" class="Cancel-btn"  data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="cancel-icon"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="3"
                                      d="M6 18L18 6M6 6l12 12" />
                            </svg>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>