
<div id="ServiceHistory">
    <div class="table-head">
        <h2 class="table-title">Service History</h2>
        <a class="export-btn" id="export" onclick="exportData()" href="">Export</a>
    </div>
    <table id="mytable2">
        <thead style="background-color: #f9f9f9">
            <tr>
               
                <th>
                    Service Deatils <img src="/image/sort.png" alt="short" />
                </th>
                <th>
                    Service Provider <img src="/image/sort.png" alt="short" />
                </th>
                <th class="text-center">
                    Payment <img src="/image/sort.png" alt="short" />
                </th>
                <th class="text-center">
                    Status <img src="/image/sort.png" alt="short" />
                </th>
                <th style="text-align: center">Rate SP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="completed-label">Completed</span></td>
                <td><a class="rateSP-btn"  data-bs-toggle="modal"
      data-bs-target="#myRatingModal">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="completed-label">Completed</span></td>
                <td><a class="rateSP-btn"  data-bs-toggle="modal"
      data-bs-target="#myRatingModal">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="completed-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="completed-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="completed-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="completed-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span style="width: 100px">
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png"
                                                                                                alt="star" /><img src="/image/star1.png"
                                                                                                                  alt="star" /><img src="/image/star2.png" alt="star" />
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <span>
                        <img src="/image/calendar.png" alt="calendar" />
                        <strong> 09/04/2018</strong>
                    </span><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
            <tr>
                <td>
                    <img src="/image/calendar.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-712.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>
                <td><span class="cancel-label">Completed</span></td>
                <td><a class="rateSP-btn" href="">Rate SP</a></td>
            </tr>
        </tbody>
    </table>
</div>