<div id="blockCustomer" class="d-none">
    <table id="mytable5">
        <tbody>
            <tr class="block">
                <td>
                    <div><img class="cap-icon cap-upgrade" src="/image/cap.jpg" alt="cap"></div>
                </td>
                <td>
                    <div class="block-icon">
                        <p>Sarvaiya Kirpalsinh</p>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center"><div class="average-rating"><span class="half-star half-start"></span><span class="half-star half-start"></span><span class="half-star half-start"></span><span class="half-star half-start"></span><span class="half-star half-start"></span><span class="half-star half-start"></span><span class="half-star half-start"></span><span class="half-star"></span><span class="half-star"></span><span class="half-star"></span></div><div style="padding-top: 4px; padding-left: 3px"><span class="sprating">3.24</span></div></div>
                    <p>8 cleaning</p>
                    
                </td>
                <td>
                    <button class="favourite-btn">Remove</button>
                    <button class="block-btn">Block</button>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>