
<div id="ServiceHistory">
    <div class="table-head">
        <h2 class="table-title">Service History</h2>
        <a class="export-btn" id="export" onclick="exportData()">Export</a>
    </div>
    <table id="mytable2">
        <thead style="background-color: #f9f9f9">
            <tr>
               <th>Service Id <img src="/image/sort.png" alt="short" /></th>
                <th>
                    Service Date <img src="/image/sort.png" alt="short" />
                </th>
                <th>
                    Service Provider <img src="/image/sort.png" alt="short" />
                </th>
                <th class="text-center">
                    Payment <img src="/image/sort.png" alt="short" />
                </th>
                <th class="text-center">
                    Status <img src="/image/sort.png" alt="short" />
                </th>
                <th>Rate SP</th>
            </tr>
        </thead>
        <tbody id="CustomerServiceHistoryTable">
          
        </tbody>
    </table>
</div>