
<div id="Dashboard">
    <div class="table-head">
        <h2 class="table-title">Dashboard</h2>
        <a class="serviceRequest-btn" asp-controller="Customer" asp-action="BookService">Add New Service Request</a>
    </div>
    <table id="mytable1">
        <thead style="background-color: #f9f9f9">
            <tr >
                <th>Service Id <img src="/image/sort.png" alt="short" /></th>
                <th>Service Date <img src="/image/sort.png" alt="short" /></th>
                <th class="text-center">
                    Service Provider <img src="/image/sort.png" alt="short" />
                </th>
                <th class="text-center">
                    Payment <img src="/image/sort.png" alt="short" />
                </th>
                <th style="text-align: center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
             
                <td >8892</td>
                <td>
                    <img src="/image/calendar2.png" alt="calendar" />
                    <strong> 09/04/2018</strong><span>
                        <img src="/image/layer-14.png" alt="" /> 12:00- 18:00
                    </span>
                </td>
                <td>
                    <div style="display: flex">
                        <div>
                            <img class="cap-icon" src="/image/cap.png" alt="cap" />
                        </div>
                        <div>
                            Lyum Watson
                            <span>
                                <img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                              alt="star" /><img src="/image/star1.png" alt="star" /><img src="/image/star1.png"
                                                                                                                                         alt="star" /><img src="/image/star2.png" alt="star" /> 4
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="payment-td">&#8364;<strong style="font-size: 24px">63</strong></span>
                </td>

                <td>
                    <a class="reschedule-btn"  data-bs-toggle="modal"
      data-bs-target="#staticBackdrop" >Reschedule</a>
                    <a  class="cancel-btn" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop1">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>