
<div id="make-payment">
    <button id="completeBookModal" class="d-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"></button>
    <h4>Pay securely with Helperland payment gateway!</h4>

    <form id="Pay" action="/" method="post">
        <div class="alert d-none paydone-alert alert-danger" role="alert">
           
        </div>
        <input class="form-control make-payment-input"
               type="text"
               placeholder="card number" />

        <div class="payment-condition">
            <input type="checkbox"
                   name="acceptPrivacyPolicy"
                   id="acceptPrivacyPolicy" />
            <label for="acceptPrivacyPolicy">
                I accepted <a href="">terms and conditions</a>, the
                cancellation policy and the <a href="">privacy policy</a>. I
                confirm that Helperland starts to execute the contract before
                the expiry of the withdrawal period and I lose my right of
                withdrawal as a consumer with full performance of the
                contract.
            </label>
        </div>

        <div style="text-align: right">
            <input type="button"
                   onclick="payDone()"
                   class="complete"
                   value="Complete Booking" />
        </div>
    </form>

   
</div>