@model HelperLand.Models.scheduleService 
<div class="schedule-plan">
    <form id="scheduleService" >
        <div  class="scheduleService-error d-none alert alert-danger" role="alert">
                
        </div>
        <div class="selectRoomAndBath">
            <div>
                <label for="dateAndtime"> When do you need cleaner? </label>
                <div style="display: flex">
                    <div class="date-input">
                        <img src="/image/calendar.png" alt="calender" />
                        <input type="date" asp-for="Date"/>
                    </div>
                    <input type="time" asp-for="time" />
                </div>
            </div>
            <div class="totalTime">
                <label for="dateAndtime"> When do you need cleaner? </label>
                <br />
                <select asp-for="Duration" onchange="CreatePaySummery()">
                    <option value="1">1.0 Hrs</option>
                    <option value="2">2.0 Hrs</option>
                    <option value="3">3.0 Hrs</option>
                    <option value="4">4.0 Hrs</option>
                    <option value="5">5.0 Hrs</option>
                </select>
            </div>
        </div>
        <div class="extraService-checkbox">
            <h4>Extra services</h4>
            <div id="custom-checkboxes">
                <div class="checkbox">
                    <input type="checkbox"
                           asp-for="extra.Cabinet"
                           id="insideCabinetCheck"
                           class="htmlcheckbox"
                           onclick="onInsideCabinet();"
                           onchange="CreatePaySummery()"/>
                    <label for="insideCabinetCheck" onclick="onInsideCabinet();">
                        <img src="/image/3.png" id="insideCabinetImg" alt="" />
                    </label>
                    <p>inside cabinets</p>
                </div>

                <div class="checkbox">
                    <input type="checkbox"
                           id="insideFridgeCheck"
                           asp-for="extra.Fridge"
                           class="htmlcheckbox"
                           onclick="onInsideFridge()"
                            onchange="CreatePaySummery()"/>
                    <label for="insideFridgeCheck">
                        <img src="/image/5.png"
                             id="insideFridgeImg"
                             alt=""
                             onclick="onInsideFridge();" />
                    </label>
                    <p>inside Fridge</p>
                </div>

                <div class="checkbox">
                    <input type="checkbox"
                           asp-for="extra.Oven"
                           id="insideOvenCheck"
                           class="htmlcheckbox"
                           onclick="onInsideOven();"
                            onchange="CreatePaySummery()"/>
                    <label for="insideOvenCheck" onclick="onInsideOven();">
                        <img src="/image/4.png" id="insideOvenImg" alt="" />
                    </label>
                    <p>inside Oven</p>
                </div>

                <div class="checkbox">
                    <input type="checkbox"
                           id="laundryCheck"
                           asp-for="extra.Laundary"
                           class="htmlcheckbox"
                           onclick="onLaundry();"
                            onchange="CreatePaySummery()"/>
                    <label for="laundryCheck" onclick="onLaundry();">
                        <img src="/image/2.png" id="laundryImg" alt="" />
                    </label>
                    <p>Laundry Wash & Dry</p>
                </div>

                <div class="checkbox">
                    <input type="checkbox"
                           id="interiorCheck"
                           asp-for="extra.Window"
                           class="htmlcheckbox"
                           onclick="onInterior();"
                            onchange="CreatePaySummery()"/>
                    <label for="interiorCheck" onclick="onInterior();">
                        <img src="/image/1.png" id="interiorImg" alt="" />
                    </label>
                    <p>interior Windows</p>
                </div>
            </div>
        </div>
        <div class="comment-box">
            <label for="comment"> Comments </label>
            <br />
            <textarea asp-for="Comments"
                      id="comment"
                      cols="30"
                      rows="10"></textarea>
            <br />
            <input type="checkbox" asp-for="havePet" />
            <label class="have-pet">I have pets at home</label>
        </div>

       


            <div style="text-align: right;margin-top:20px">
                <input id="continue2"
                       type="button"
                        onclick="getServiceDetails()"
                       value="Continue" />
            </div>
       
           

           
    </form>
</div>