<div id="ServiceProviderHistory" class="contant-right d-none">
    <div>
        <div class="table-head">
            <h2 class="table-title">Service History</h2>
            <a class="export-btn" id="export" onclick="exportData()" href="">Export</a>
        </div>
        <table id="mytable3">
            <thead style="background-color: #f9f9f9">
                <tr>
                    <th>Service Id <img src="/image/sort.png" alt="short" /></th>
                    <th>Service Date <img src="/image/sort.png" alt="short" /></th>
                    <th class="text-center">Customer Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8892</td>
                    <td>
                        <img src="/image/calendar2.png" alt="calendar" />
                        <strong> 09/04/2018</strong><span>
                            <img src="/image/layer-14.png" alt="" /> 12:00- 18:00
                        </span>
                    </td>
                    <td>
                        <div class="address-td-box">
                            <div style="width: fit-content">
                                <img src="/image/layer-15.png" alt="cap" />
                            </div>
                            <div>
                                <span>Kirpalsinh Sarvaiya</span>
                                <span>Ganeshnagar 161</span>
                                <span>364004 Bhavnagar</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>