<div id="ServiceScheduleTable" class=" d-none">
    <div class="label-box-timetable">
        <div class="label-box"><div class="white-box"></div><div>Upcoming</div></div>
        <div class="label-box"> <div class="blue-box"></div><div>completed</div></div>
    </div>
    <div id='calendar' heigh="100vh"></div>
</div>