<div id="blockCustomer" class="contant-right d-none">
    <table id="mytable5">
        <tbody>
            <tr class="block">
                <td>
                    <div><img class="cap-icon cap-upgrade" src="/image/cap.jpg" alt="cap"></div>
                </td>
                <td>
                    <div class="block-icon">
                        <p>Sarvaiya Kirpalsinh</p>
                    </div>
                </td>
                <td>
                    <button class="block-btn">Block</button>
                </td>
            </tr>
            <tr class="block">
                <td>
                    <div><img class="cap-icon cap-upgrade" src="/image/cap.jpg" alt="cap"></div>
                </td>
                <td>
                    <div class="block-icon">
                        <p>Sarvaiya Kirpalsinh</p>
                    </div>
                </td>
                <td>
                    <button class="block-btn">Block</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>