@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="UpcomingService" class="contant-right d-none">
    <div>
        <table id="mytable2">
            <thead  style="background-color: #f9f9f9">
                <tr>
                    <th>Service Id <img src="/image/sort.png" alt="short" /></th>
                    <th>Service Date <img src="/image/sort.png" alt="short" /></th>
                    <th class="text-center">Customer Details</th>
                    <th class="text-center">
                        Payment <img src="/image/sort.png" alt="short" />
                    </th>
                    <th>Distance</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="UpcomingServiceTboady">
              
            </tbody>
        </table>
    </div>
</div>