
<div id="serviceProviderCustomerRating" class="contant-right d-none">
    <div>
        <div class="table-head">
            <h2 class="table-title">Service History</h2>
            <a class="export-btn" id="export" onclick="exportData()" href="">Export</a>
        </div>
        <table id="mytable4">
            <tbody>
                <tr>
                    <td>
                        <p>8312</p>
                        <p>Kirpalsinh Sarvaiya</p>
                    </td>
                    <td>
                        <img src="/image/calendar2.png" alt="date" /><strong>
                            27/10/2021
                        </strong>
                        <p><img src="/image/layer-14.png" alt="time"> 12:00 - 18:00</p>
                    </td>
                    <td>


                        <div>
                            <div><span>Rating</span></div>
                            <div class="d-flex align-items-center ">
                                <div class="average-rating">
                                    <span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span>
                                </div>
                                <div style="padding-top: 4px; padding-left: 3px">
                                    <span>Very Good</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>hello world</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>8312</p>
                        <p>Kirpalsinh Sarvaiya</p>
                    </td>
                    <td>
                        <img src="/image/calendar2.png" alt="date" /><strong>
                            27/10/2021
                        </strong>
                        <p><img src="/image/layer-14.png" alt="time"> 12:00 - 18:00</p>
                    </td>
                    <td>


                        <div>
                            <div><span>Rating</span></div>
                            <div class="d-flex align-items-center ">
                                <div class="average-rating">
                                    <span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span>
                                </div>
                                <div style="padding-top: 4px; padding-left: 3px">
                                    <span>Very Good</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>hello world</p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>