@model HelperLand.Models.setupService

<div class="pincode-check">
    <form id="zipform">
        <div class="postalcode-error d-none alert alert-danger" role="alert">
           
        </div>
        <label class="pin-label" for="pincode">
            Please enter your zip code:
        </label>
        <br />
        <input id="zip" class="pincode-input-box"
               type="text"
               asp-for="postalCode"
               placeholder="Postal code" />
        <button  class="spin-btn pin-btn" type="button" onclick="checkZipcode()" ><span class="spin-load d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> <span class="loading-text">check availability</span></button>
    </form>
</div>

@*asp-controller="Customer" asp-action="ValidZipcode"*@