

<div class="modal fade user-setting-add-address"
     id="updateUserAddress"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabe2"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title login-title" id="staticBackdropLabe2">
                    Edit Address
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
                <form>
                    <input type="hidden" id="UpdateState" />
                    <div class="addAddress-error d-none alert alert-danger " role="alert">

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <label for="streetname"> Street Name </label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Street Name"
                                       id="Updatestreetname" />
                            </div>
                            <div class="col-sm-6 mb-2">
                                <label for="housename">House Number </label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="House Number"
                                       id="Updatehousenumber" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <label for="postalcode"> Postal Code </label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Postal Code"
                                       id="Updatepostalcode" />
                            </div>
                            <div class="col-sm-6 mb-2">
                                <label for="city"> City </label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="City Name"
                                       id="Updatecity" disabled/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="Mobile"> Phone Number </label>
                                <div class="input-group">
                                    <span class="input-group-text">+49</span>
                                    <input type="tel"
                                           id="UpdateMobile"
                                           class="form-control"
                                           placeholder="Mobile Number"
                                           aria-label="mobile"
                                           aria-describedby="basic-addon1" />
                                </div>
                            </div>
                        </div>

                        <input class="user-address-update-btn" type="button" value="Edit" />
                    </div>
                </form>
                </div>
            </div>
    </div>
</div>

