
<div class="modal" tabindex="-1" id="myRatingModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="service-provider-average-rating">
                    <div>
                        <img class="cap-icon" src="/image/cap.png" alt="cap" />
                    </div>
                    <div>
                        <div><span class="RatingspName">Lyum Watson</span></div>
                        <div class="d-flex align-items-center">
                            <div class="average-rating average-rating-modal">
                                <span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span><span class=" half-star"></span>
                            </div>
                            <div style="padding-top: 4px; padding-left: 3px">
                                <span class="Ratingsprating">5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="rating-head">Rate your service provider</h4>
                <!-- on time starts -->
                <div class="spSkills">
                    <div><p>On Time Arrival</p></div>
                    <div id="OnTimeArrival" class="spRatings">
                        <input value="5" type="radio" name="onTime" />
                        <input value="4.5" type="radio" name="onTime" />
                        <input value="4" type="radio" name="onTime" />
                        <input value="3.5" type="radio" name="onTime" />
                        <input value="3" type="radio" name="onTime" />
                        <input value="2.5" type="radio" name="onTime" />
                        <input value="2" type="radio" name="onTime" />
                        <input value="1.5" type="radio" name="onTime" />
                        <input value="1" type="radio" name="onTime" />
                        <input value="0.5" type="radio" name="onTime" />
                    </div>
                </div>
                <!-- on time ends -->
                <!-- friendly starts -->
                <div class="spSkills">
                    <p>friendly</p>
                    <div id="friendly" class="spRatings">
                        <input value="5" type="radio" name="friendly" />
                        <input value="4.5" type="radio" name="friendly" />
                        <input value="4" type="radio" name="friendly" />
                        <input value="3.5" type="radio" name="friendly" />
                        <input value="3" type="radio" name="friendly" />
                        <input value="2.5" type="radio" name="friendly" />
                        <input value="2" type="radio" name="friendly" />
                        <input value="1.5" type="radio" name="friendly" />
                        <input value="1" type="radio" name="friendly" />
                        <input value="0.5" type="radio" name="friendly" />
                    </div>
                </div>
                <!-- friendly ends -->
                <!-- Quality of Service starts -->
                <div class="spSkills">
                    <p>Quality of Service</p>
                    <div id="qualityOfService" class="spRatings">
                        <input value="5" type="radio" name="qualityService" />
                        <input value="4.5" type="radio" name="qualityService" />
                        <input value="4" type="radio" name="qualityService" />
                        <input value="3.5" type="radio" name="qualityService" />
                        <input value="3" type="radio" name="qualityService" />
                        <input value="2.5" type="radio" name="qualityService" />
                        <input value="2" type="radio" name="qualityService" />
                        <input value="1.5" type="radio" name="qualityService" />
                        <input value="1" type="radio" name="qualityService" />
                        <input value="0.5" type="radio" name="qualityService" />
                    </div>
                </div>
                <!-- quality of service ends -->
                <div class="feedback-box">
                    <form >
                        <label for="feedback-label">Feedback on service provider</label>
                        <textarea class="form-control"
                                  id="feedback-label"
                                  rows="2"></textarea>
                        <input id="ServiceProviderRatingBtn" data-bs-dismiss="modal" type="button" class="submit-btn" value="Submit">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>