<section id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-2"
                 style="margin: auto; text-align: center; padding-bottom: 20px">
                <img src="/image/logo-large.png"
                     width="110px"
                     height="80px"
                     alt="logo" />
            </div>
            <div class="col-12 col-lg-8">
                <ul class="footer-menu">
                    <li><a asp-action="Index">HOME</a> </li>
                    <li><a asp-action="About">ABOUT</a></li>
                    <li><a href="">TESTIMONIALS</a></li>
                    <li><a href="">FAQS</a></li>
                    <li><a href="">INSURANCE</a></li>
                    <li><a href="">POLICY</a></li>
                    <li><a href="">IMPRESSUM</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-2"
                 style="text-align: center; padding-top: 5px; margin-top: 15px">
                <a class="px-2" href="#">
                    <i style="color: white" class="fab fa-facebook-f"></i>
                </a>
                <a class="px-2" href="#">
                    <i style="color: white" class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <hr class="section-divder"
        style="background-color: #424242; margin-top: 0;margin-bottom:20px" />
    <p class="policy">
        ©2018 Helperland. All rights reserved.
        <a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a>
    </p>
</section>
